body {
   
    
    background: url("../") no-repeat 100% fixed;
    background-size: cover;
 
}
#containerSOBRE{
    
    padding-left: 10px;
       width:100%;
    height:60%;    
    color:black;
      background:rgba(255, 255, 255,0.3) ;
    margin-top:6px;
   
      
}

#title{
      font-family: "Georgia", serif;
    font-size:30px;
    padding: 10px;
    color: #DAA520;
    text-shadow:1px 1px 1px #000;
}


#containerNews{
    font-family: "Georgia", serif;
       width:100%;
    height:100%;    
     background:rgba(243, 245, 242,0.3) ;
    margin-top:2%;
    border-radius: 4px;
      box-shadow: 2px 2px 5px #000;
}

#tituloEnquete{
    width: 100%;
    height:60px;
    margin-top:1%;
     color: white;
    text-shadow:0px 0px 5px #000;
    background:#53c653;
    font-size: 30px;
     
      box-shadow: 2px 1px 5px #000;
    
}




#menuMain{
    z-index: 1000;
}



 #cabecalho{
        width: 100%;
        height: 10%;
     background:#ffffff;
     margin-top: 6%;
    padding-bottom: 30px;
    opacity: 0.8;
     box-shadow: 1px 1px 3px #000;
    }